body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

svg {
  vertical-align: baseline !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) :nth-child(3) {
  margin-left: auto;
}
